<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image uploader</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="css/reviewr.css" rel="stylesheet">

    <head>
        <link href="../static/style.css" rel="stylesheet">
    </head>

<body>

    <ul>
        <li><a href="form">Upload Images</a></li>
        <li><a href="gallery">Gallery</a></li>
        <li><a href="admin">Administration</a></li>
        <div class="session">
            <form method="POST">
                {% if var==1 %}
                {{ email }} <a href="/endsession">Log out </a>
                {% endif %}
            </form>
        </div>
    </ul>

    <main role="main" class="container">
        {% if hide==0 %}
        <div class="review-container">
            <form id="newReviewForm" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Insert the file</label>
                    <input type="file" name="file" class="form-control" id="file">
                </div>
                <div class="form-group">
                    <label for=text>Insert phone number</label>
                    <input type="text" name="text" class="form-control" id="text">
                </div>
                {% if var==0 %}
                <div class="form-group">
                    <label for=email>Insert email</label>
                    <input type="text" name="email" class="form-control" id="email">
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% else %}
        <h1>NOT WORKING</h1>
        {% endif %}
    </main><!-- /.container -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>